.card-list {
    display: flex;
    padding: 0;
    list-style-type: none;
    gap: 10px;
    
}

.card-item {
    display: flex;
    background-repeat: no-repeat;
    width: 39px;
    height: 25px;
    background-position: 0 -25px;
    
}

.selected-card-item {
    background-position: 0 0px;
}